* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather {
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    color: white;
    margin-bottom: 20px; /* Space below the weather box */
}

#mapContainer {
    width: 300px; /* Align map width with the weather box */
    display: none; /* Hidden by default */
}
h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px; /* Adds space between button and weather info */
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#Weatherinfo {
    text-align: left; /* Aligns the weather info text */
    margin-top: 20px; /* Adds spacing from the button */
    font-size: 1rem;
    color: yellow;
}
